/* Font and Other Styles */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Merriweather&family=Poppins:wght@500&family=Praise&display=swap');
main {
    font-family: 'Merriweather', serif;
}
body {
    margin: 0;
}
/* Top Section */
.top-section {
    background-color: #8a9d8c;
    height: 900px;
}
.banner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding-top: 150px;
    
}
.banner-text {
    color: #FFFFFF;
    font-size: 64px;
}
.btn {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid gray;
    background-color: firebrick;
    padding: 15px 60px;
    border-radius: 5px;
}
.banner:hover img {
    transform: scale(1.3) rotate(360deg);
    transition:transform 2s ease;
}
.banner-player img {
    width: 560px;
    height: 440px;
}
                       /* Main Section */
.player {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 0.9em;
    justify-items: center;
    padding-top: 75px;
    
}
.player .player-image img {
    Width: 100%;
   
}  
.player-image {
    background-color: #e5e5e5;
    border: 15px solid #e5e5e5;
    height: 550px;
    width: 350px;
} 
.player-info {
    font-size: 20px;
}   
           /* High light Section */
.high-light-img img {
    width: 70%;
}
.third-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 200px;
    margin-top: 30px;
}
/* last section */
.football-banner img {
    width: 40%;
    margin-left: 500px;
    margin-top: 100px;
}
.logo {
    display: flex;
   margin-left: 830px;
}
.logo i {
    margin-left: 20px;
}
small {
    margin-left: 800px;
}
/* media query */
@media only screen and (max-width: 688px) {
    .banner {
        display: flex;
        justify-content: center;
        width: 50%;
    }
  }